.productItem.productBlock__productItem(class=item.productItemSize)
	.productItem__contentBox
		.productItem__img(class=item.productItemBgImg)
			.productItem__reminderItemWrap(class=item.display)
				p.productItem__reminderItem New
		.productItem__nameItemWrap
			p.productItem__nameItem= item.nameItem
		.productItem__likeItemWrap
			i#js-like.far.fa-heart
		.productItem__priceItemWrap
			p.productItem__priceItem= item.priceItem