div(class=`productItem productBlock__productItem productItem_size_${productItemSizeMix}`)
	.productItem__contentBox
		div(class=`productItem__img productItem__img_bg_${productItemBgImgMix}`)
			div(class=`productItem__reminderItemWrap productItem__reminderItemWrap_display_${displayMix}`)
				p.productItem__reminderItem New
		.productItem__nameItemWrap
			p.productItem__nameItem= nameItemMix
		.productItem__likeItemWrap
			i#js-like.far.fa-heart
		.productItem__priceItemWrap
			p.productItem__priceItem= priceItemMix